body {
    background-color: black;
    margin: 0
}

a {
    text-decoration: none;
}

#body {
    max-width: 2000px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
}

div {
    font-family: "Khand", sans-serif;
    font-weight: 700;
}

.t-shadow { /* Text with shadow */
    text-shadow: 10px 5px 5px rgb(0, 0, 0, 0.5);
}

.max-w { /* Max width of different element */
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.border-t { /* Set a border to separate element on the website */
    border-top: 5px solid #ffd700;
}

.title { /* Set all the title in blue */
    width: 100%;
    font-size: 100px;
    color: #ffd700;
    text-align: center;
}

.text-under-title { /* Parameter of the text under title */ 
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 30px;
    color: white;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    border-bottom: 5px solid #ffd700;
}

.topnav {
    display: none;
}

#links {
    display: none;
}

.topnav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#header-div {
    max-width: 2000px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

#header-div-logo {
    width: 100px;
    height: 100px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-logo {
    height: 90px;
    width: 90px;

    background-image: url(../assets/imgs/logo/logo-icone-jaune.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition: ease-in-out 0.3s;
}

#header-logo:hover {
    height: 100px;
    width: 100px;
}

#header-div-navbar {
    height: 100px;
    width: 800px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

}

.nav-item {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 0;
    color : #ffd700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.nav-item:hover {
    height: 60px;
    width: 200px;
    font-size: 20px;
}

.nav-icone {
    height: 50px;
    width: 50px;
}

.active {
    color: #fff;
}

#presentation-div {
    background-image: url(../assets/imgs/mercedes/amg-gt-black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

#presentation-text {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#presentation-main-text {
    width: 100%;
    max-width: 2000px;
    color : #ffd700;
    
    font-size: 10vh;
    text-align: center;
}

#propos-nous {
    width: 100%;

    max-width: 2000px;
    margin: auto;

    padding-top: 100px;
    padding-bottom: 100px;


    background-color: black;
}

.info {
    width: 100%;

    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.text-info {
    width: 700px;
    padding: 10px;
    font-size: 20px;
    text-align: justify;
    line-height: 50px;
    color : #ffff;
    border-top: 3px solid #ffd700;
    border-bottom: 3px solid #ffd700;

    margin:25px;
    transition: ease-in-out 0.25s;
}

.text-info:hover {
    border-color: white;
}

.image-div-info {
    width: 500px;
    height: 300px;
    margin: 25px;
    border-radius: 30px;
    border: 2px solid #ffd700;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: ease-in-out 0.25s;
}

.image-div-info:hover {
    border-color: white;
    box-shadow : 0px 0px 20px rgba(255, 255, 255, 0.8);
}

#img-info-1 {
    background-image: url(../assets/imgs/porsche/taycan2.jpg);
}

#img-info-2 {
    background-image: url(../assets/imgs/lamborghini/lamborghini_urus.jpg);
}

footer {
    width: 100%;
    padding-top: 20px;
    background-color: black;
}

#footer-max {
    max-width: 2000px;
    margin: auto;
}

#footer-under-logo {
    width: 160px;
    height: 160px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo {
    width: 150px;
    height: 150px;
    background-image: url(../assets/imgs/logo/logo-icone-jaune.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    font-size: 70px;

    transition: ease-in-out 0.3s;
}

#footer-logo:hover {
    width: 160px;
    height: 160px;
}

#footer-nav {
    height: 50px;
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-item-nav {
    height: 30px;
    width: 200px;
    line-height: 30px;
    color : #ffd700;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.footer-item-nav:hover {
    font-size: 22px;
    color: white;
}

#footer-coordonnee {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-top: 2px solid #ffd700;
    border-bottom: 2px solid #ffd700;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    transition: ease-in-out 0.3s;
}

.footer-item-coordonnee {
    width: 350px;
    height: 100px;

    font-size: 18px;
    text-align: justify;
    transition: ease-in-out 0.3s;
    color: #fff;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-image-coordonnee {
    height: 65px;
    width: 65px;
}

#footer-copyright-t {
    text-align: center;
    margin: auto;
    color : #fff;
    margin-top: 30px;
    font-size: 15px;
}

@media screen and (max-width: 1050px) {
    .title {
        font-size: 80px;
    }

    .text-under-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 60px;
    }

    .text-under-title {
        font-size: 20px;
    }

    #header-div {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid #ffd700;
    }

    .topnav {
        width: 95%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }

    .topnav a {
        height: 80px;
        width: 80px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .topnav a img {
        height: 80px;
        width: 80px;
    }

    .topnav a #burger {
        height: 70px;
        width: 70px;
    }

    #links {
        top: 0;
        margin-top: 102px;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: black;
    }

    #links #in-links {
        display: grid;
    }

    #links a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        padding: 20px;
        text-align: center;
        border-bottom: 2px solid #fff;
        transition: ease-in-out 0.3s;
    }

    #links .active {
        background-color: #fff;
        color: #000;
    }

    #links a:hover {
        background-color: #fff;
        color: #000;
    }

    #button-catalogue {
        width: 490px;
        height: 250px;
        font-size: 40px;

        background-image: url(../assets/imgs/fond-marque/lamborghini.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 63%;
    }

    #button-catalogue:hover {
        width: 490px;
        height: 250px;
        font-size: 40px;
    }

    #under-button {
        width: 490px;
        height: 250px;
    }

    footer {
        border-top: 3px solid #fff;
    }

    #footer-nav {
        display: none;
    }
}